# Block node_modules folder under sub-folders
*/node_modules

# Block .vscode folder under sub-folders
*/.vscode

# Block .vscode folder under current path
.vscode

# Block.DS_Store folder under current path
.DS_Store


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*/package-lock.json

# Optional npm cache directory
.npm