#contract-page {
  max-width: 660px;
  margin: 0 auto;


  .address-col,
  .row {
    margin-bottom: 1rem;
  }

}

.invoice-modal {
  max-width: 80% !important;

  @media (max-width: 578px) { // media query
    max-width: 100% !important;
  }
}
