#contract-page {
  max-width: 660px;
  margin: 0 auto;


  .address-col,
  .row {
    margin-bottom: 1rem;
  }

}

.invoice-modal {
  max-width: 720px !important;
  padding: 0 15px;

  @media (max-width: 578px) {
    // media query
    padding: 0;
    max-width: 100% !important;
  }
}
